@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  @apply font-poppins;
}
.form-label {
  @apply block text-sm font-medium text-gray-700 mb-1 text-left;
}

.required::after {
  content: " *";
  color: #ef4444; /* red-500 */
}

.form-input {
  @apply w-full px-4 py-3 border border-gray-300 rounded-lg
  focus:outline-none focus:ring-2 focus:ring-orange-400
  focus:border-orange-400 transition;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}
/* .section-hidden {
  opacity: 0;
  transform: translateY(24px);
} */

.section-show {
  animation: slideFadeUp 0.6s ease-out forwards;
}
@keyframes slideFadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}